<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jaxcohome.app" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Jaxcohome</name>
    <description>
        Explore Jaxcohome with ease from your mobile phone. 
    </description>
    <author email="rolando@ad-in.us" href="http://ad-in.us">
        Ad.In Advertising
    </author>
    <content src="index.html" />
	
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ee6e73" />
    <preference name="StatusBarStyle" value="blacktranslucent" />
    
	<plugin name="phonegap-plugin-push" spec="1.8.4" >
        <variable name="SENDER_ID" value="XXXXXXX" />
    </plugin>
	
	<plugin name="cordova-plugin-console" spec="1.0.7" />
	<plugin name="cordova-plugin-dialogs" spec="1.2.1" />
	<plugin name="cordova-plugin-inappbrowser" spec="1.7.1" />
	<plugin name="cordova-plugin-network-information" spec="1.3.3" />
	<plugin name="cordova-plugin-statusbar" spec="2.1.3" />
	<plugin name="cordova-plugin-whitelist" spec="1.2.2" />
	<plugin name="phonegap-plugin-push" spec="1.8.4" />
	
	
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
	
  
  <!-- Assign Icon-->
  <icon src="icon-ios.png" /><!-- Default -->
  <splash src="splash.png" platform="ios" width="320" height="568" />
  
  <platform name="ios">
	<icon src="icon_180x180.png" platform="ios" width="180" height="180" />
	<icon src="icon_76x76.png" platform="ios" width="76" height="76" />
	<icon src="icon_120x120.png" platform="ios" width="120" height="120" />
	<icon src="icon_152x152.png" platform="ios" width="152" height="152" />
	<splash src="splash_320x568.png" platform="ios" width="320" height="568" />
	<splash src="splash_screen.png" platform="ios" width="320" height="480" />
	<splash src="splash_640x960.png" platform="ios" width="640" height="960" />
	<splash src="splash_640x1136.png" platform="ios" width="640" height="1136" />
	<splash src="splash_750x1334.png" platform="ios" width="750" height="1334" />
	<splash src="splash_1242x2208.png" platform="ios" width="1242" height="2208" />
	<splash src="splash_2048x1536.png" platform="ios" width="1536" height="2048" />
  </platform>
  
  <platform name="android" >
	<splash src="splash_screen.png" platform="android" width="320" height="480" />
  </platform>
   
  <platform name="winphone" />

  
</widget>
